@use "@/styles/mixins" as mixins;

alert-box {
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  @include mixins.grid-center;
  background-color: rgba(31, 85, 80, 0.55);

  .alert-box__main {
    width: min(50%, 400px);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1em;
    background-color: white;
    user-select: none;

    ul {
      list-style: inside;
    }
  }
}