@use "@/styles/variables" as vars;
@use "@/styles/mixins" as mixins;

.passwordGenerator {
  width: 100%;
  max-width: var(--max-page-width);
  font-size: 1.1rem;
  overflow: hidden;
  @include mixins.border-rounded;

  output {
    font-size: 1.1em;
    min-height: 3em;
    text-align: center;
    @include mixins.grid-center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: lime;
    background-color: rgb(24, 24, 24, 0.75);
    font-family: vars.$ff_monospace;
    word-break: break-all;
  }
}

.form {
  background-color: rgb(230, 230, 230, 0.795);
  @include mixins.full-size;
  @include mixins.padding(3, 3);
  @include mixins.gap(5);
  display: flex;
  flex-flow: column nowrap;
}

.inputs {
  display: flex;
  align-items: center;
  @include mixins.gap(4);

  >div {
    display: flex;
    align-items: center;
  }

  div:nth-child(1) {
    width: 3em;
  }

  div:nth-child(2) {
    width: 100%;
  }

  input {
    $height: 18px;
    width: 100%;

    &[type="number"] {
      height: 100%;
      font-size: 1rem;
    }

    &[type="range"] {
      appearance: none;
      outline: none;
      cursor: pointer;
      height: $height;
      opacity: 0.8;
      background-color: vars.$clr_dark;
      transition: 200ms;

      &:hover {
        opacity: 1;
      }

      &::-webkit-slider-runnable-track {
        content: "";
        width: 100%;
        height: $height;
        border: 0;
      }

      &::-webkit-slider-thumb,
      &::-moz-range-thumb {
        appearance: none;
        width: $height;
        height: $height;
        border-radius: 0px;
        border: 0;
        background-color: vars.$clr_green_lighter;
      }

      &::-webkit-slider-thumb {
        margin-top: 1px;
      }
    }
  }
}

.checkboxes {
  display: flex;
  flex-flow: column nowrap;
  @include mixins.gap(3);

  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >label {
      text-transform: capitalize;
    }
  }
}

.buttons {
  @include mixins.flex-center(row, wrap);
  @include mixins.gap(2);
}